elasticsearch:
  image: elasticsearch:1.7.3
  ports:
    - 127.0.0.1:9200:9200
    - 127.0.0.1:9300:9300
  volumes:
    - ./config:/usr/share/elasticsearch/config
    - ./data:/usr/share/elasticsearch/data

beanstalk:
  image: schickling/beanstalkd
  ports:
    - 127.0.0.1:11300:11300
